<div class="bg-image">
    <div class="container">
        <div class="row">
          
            <div class="col-3">
                <div class="container-size d-flex align-items-center">
                    <button class="btn btn-warning mt-5" routerLink="/admin/login" routerLinkActive="router-link-active">ADMIN LOGIN</button>
                </div>
            </div>

    
            <div class="col-6">
               
            </div>

    
            <div class="col-3">
             
            </div>
        </div>
    </div>
</div>
